<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweet by id</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>Here's the tweet you searched for</h2>
    <h3>id:<%= post.id %></h3>
    <div class="tweet">
      <h3 class="username">@<%= post.username %></h3>
      <p class="content"><%= post.content %></p>
    </div>
  </body>
</html>
