<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Tweets</title>
  </head>
  <body>
    <form method="post" action="/newpost">
      <label for="user"> Username: </label>
      <input type="text" id="user" name="username" placeholder="username" />
      <br /><br />
      <textarea placeholder="What's on your mind" name="content" style="width: 453px; height: 84px;"></textarea>
      <br><br>
      <button type="submit">Tweet</button>
      <button type="reset">Clear</button>
    </form>
  </body>
</html>
